<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <serverSideInclude ssiExecDisable="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
    <connectionStrings>
        <add connectionString="Server=p3plcpnl022.prod.phx3.secureserver.net;uid=adminlsg;database=public_lsg1;Pwd=G@ll3r!@"
			 name="public_lsg1"
			 providerName="MySql.Data.MySqlClient"
		/>
    </connectionStrings>
</configuration>
