<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <serverSideInclude ssiExecDisable="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
    <connectionStrings>
        <add connectionString="Server=50.62.22.176;Database=public_lsg;Uid=adminlsg;Pwd=G@ll3r!@" name="public_lsg" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
